html
  head
    title= title
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="js/bootstrap.min.js")

  body.auth-background.text-light
    - if (notice.length || error.length)
      .position-absolute.top-0.start-50.translate-middle-x.w-100.p-3(style="max-width: 600px; z-index: 1050;")
        if (notice.length)
          .alert.alert-success #{notice}
        if (error.length)
          .alert.alert-danger #{error}

    .container-fluid.d-flex.h-100.p-0
      main.flex-grow-1.overflow-auto.p-4.d-flex.flex-column
        block content
        footer.mt-auto.text-center.text-muted
          p &copy; 2025 Apex Finance

    script.
      const alerts = document.querySelectorAll('.alert');
      alerts.forEach(alert => {
        setTimeout(() => {
          alert.classList.add('fade');
          alert.classList.remove('show');
          setTimeout(() => alert.remove(), 500);
        }, 4000);
      });