
extends layout 
block content
        h1 Buy Assets
        form(action="/buy-assets" method="POST")
            div
                label(for="assetName") Asset Name:
                input.form-control(type="text" id="assetName" name="assetName" required)
            div
                label(for="quantity") Quantity:
                input.form-control(type="number" id="quantity" name="quantity" min="1" required)
            div
                label(for="price") Price per Unit:
                input.form-control(type="number" id="price" name="price" step="0.01" required)
            div
                button(type="submit") Buy Asset
       
        script(src="/scripts.js")
        footer
            p 2025 Apex Finance