extends layout

block content
  h1.mb-4 Dashboard

  .d-flex.gap-4.flex-wrap.align-items-start
    .card.p-4
      canvas#assetChart
    .card.p-4.w-50
      canvas#performanceChart

  script(src="https://cdn.jsdelivr.net/npm/chart.js")
  script(src="/javascripts/dashboard_charts.js")

