doctype html
html(lang="en" data-bs-theme="light")
  head
    title= title
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/js/bootstrap.min.js")


  body
    #google_translate_element.position-absolute.top-0.end-0

    - if (notice.length || error.length)
      .position-absolute.top-0.start-50.translate-middle-x.w-100.p-3(style="max-width: 600px; z-index: 1050;")
        if (notice.length)
          .alert.alert-success #{notice}
        if (error.length)
          .alert.alert-danger #{error}

    .container-fluid.d-flex.h-100.p-0
      aside.shadow.py-4.px-2.position-fixed.top-0.start-0.d-flex.flex-column
        // Header section
        .flex-shrink-0
          a.navbar-brand.px-3(href="/")
            img(height=50, src="/images/logo.svg", alt="Apex Finance")

          hr.text-light
          p.mb-0.text-light.px-3.fw-semibold Hi, #{email}
          hr.text-light

        // Navigation section
        ul.nav.flex-column.fw-semibold.gap-2.mt-3.flex-grow-1
          li.nav-item
            a.nav-link.fw-bold.text-light(href="/")
              i.bi.bi-house.text-light.fst-normal &nbsp; Dashboard
          li.nav-item
            a.nav-link.fw-bold.text-light(href="/portfolios")
              i.bi.bi-file-earmark-text.text-light.fst-normal &nbsp; Portfolios
          li.nav-item
            form(action="/logout", method="POST")
              button.btn.btn-link.nav-link.fw-bold.text-danger.w-100.text-start(type="submit")
                i.bi.bi-box-arrow-right.text-danger.fst-normal &nbsp; Logout

        // Dark mode toggle
        .flex-shrink-0
          a.nav-link.fw-bold.text-light.px-3.py-2(href="#" onclick="toggleDarkMode()")
            i.bi.bi-moon-stars.text-light.fst-normal &nbsp; Toggle Dark Mode

      main.flex-grow-1.overflow-auto.p-4.d-flex.flex-column.min-vh-100(style="margin-left: 16rem;")
        block content
        footer.mt-auto.text-center.text-muted
          p &copy; 2025 Apex Finance
      

    //google Translate Scripts
    script.
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE},
          'google_translate_element'
        );
      }

  script(src="/javascripts/dark_mode.js")
  script(src="/javascripts/alert.js")
  script(src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript")



