doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/css/bootstrap.min.css")

  body
    main
      block content

    footer
      p &copy; 2025 Ethan, Hassan, Mariam