doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="js/bootstrap.min.js")


  body
    .container-fluid.d-flex.h-100.p-0
      aside.shadow.min-vh-100.py-4.px-2
        nav.d-flex.flex-column.h-100.flex-grow-1
          a.navbar-brand.px-3(href="/")
            img(height=50, src="/images/logo.svg", alt="Apex Finance")

          hr.text-light

          ul.nav.flex-column.fw-semibold.gap-2.mt-3.flex-grow-1
            li.nav-item
              a.nav-link.fw-bold.text-light(href="/") Dashboard
            li.nav-item
              a.nav-link.fw-bold.text-light(href="#") Link 2
            li.nav-item
              a.nav-link.fw-bold.text-light(href="#") Link 3

      main.flex-grow-1.overflow-auto.p-4.d-flex.flex-column
        block content
        footer.mt-auto.text-center.text-muted
          p &copy; 2025 Apex Finance

