extends auth_layout

block content
  .d-flex.justify-content-center.align-items-center.flex-grow-1.flex-column
    img(height="50", src="/images/logo.svg", alt="Apex Finance Logo", class="mb-4")
    h1.mb-4 Login

    form(action="/login", method="POST", class="w-100", style="max-width: 400px;")
      .mb-3
        label.form-label(for="email") Email
        input.form-control(type="email", id="email", name="email", required=true, placeholder="Enter your email")
      .mb-3
        label.form-label(for="password") Password
        input.form-control(type="password", id="password", name="password", required=true, placeholder="Enter your password")

      .d-flex.justify-content-between.align-items-center
        a.link-light(href="/register") Don't have an account? Register
        button.btn.btn-primary.float-end(type="submit") Submit
