extends layout

block content
  h1.mb-4 New Portfolio

  form(action="/new-portfolio" method="POST")
    .mb-3
      label(for="name") Portfolio Name
      input#name.form-control(type="text" name="name" required)
    .mb-3
      label(for="description") Portfolio Description
      textarea#description.form-control(name="description" rows="3" required)
    button.btn.btn-primary(type="submit") Create Portfolio
