extends layout

block content
  h1.mb-4 Sell Asset

  form(action="/sell-asset" method="POST")
      .mb-3
          label.form-label(for="assetName") Name
          input.form-control(type="text" id="assetName" name="assetName" required)
      .mb-3
          label.form-label(for="quantity") Quantity
          input.form-control(type="number" id="quantity" name="quantity" min="1" required)
      .mb-3
          label.form-label(for="price") Selling Price (per unit)
          input.form-control(type="number" id="price" name="price" step="0.01" required)
      .mb-3
          button.btn.btn-primary.float-end(type="submit") Sell Asset