:root {
  --accent-color: hsl(221, 32%, 15%);
}

.auth-background {
  background-color: var(--accent-color);
}

.dark-mode {
  background-color: hsl(221, 32%, 10%);
  color: white;

}

aside {
  background-color: var(--accent-color);
  width: 16rem;
}

.nav-link:hover, .nav-link:focus {
  background: hsl(221, 32%, 10%);
}